<body class="hold-transition login-page">
<div class="login-box">
    <div class="login-logo">
        <p>You need to be logged in to access this content.</p>
    </div>
    <p class="text-center">
        <a href="/access/login">Go to login page</a>
    </p>
</div>